{% extends "main/base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static "css/menu.css" %}">
    <link rel="stylesheet" href="{% static "css/promotion.css" %}">
{% endblock  %}

{% block content %}
    <section>
        <h1>Акции, промокоды и купоны</h1>
        {% for promotion in promotions %}
            <article class="promotion">
                <p>{{ promotion.title }}</p>
                <p>{{ promotion.some_info }}</p>
                <p>Скидка: {{ promotion.discount }}%</p>
                <p>Дата окончания: {{ promotion.date|date:"d/m/Y" }}</p>
            </article>
        {% endfor %}
    </section>
{% endblock  %}