h1 {
    text-align: center;
    margin: auto;
    padding-top: 20px;
}

.promotion {
    border-radius: 20px;
    border: 1px black solid;
    padding: 20px;
    margin: 20px;
    margin-bottom: 0;
    padding-bottom: 10px;
    display: flex;
    flex-flow: column nowrap;
    list-style-type: upper-roman;
    list-style-position: inside;
}

li {
    margin-left: 20px;
    font-size: large;
    font-weight: 500;
}

li p {
    display: inline;
    text-align: justify;
    margin: 5px;
    font-size: 25px;
}