{% extends "main/base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static "css/menu.css" %}">
    <link rel="stylesheet" href="{% static "css/about.css" %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap" rel="stylesheet">
{% endblock  %}

{% block content %}
    <article>
        <p>{{ info.info }}</p><br>
        <p id="props">{{ info.props }}</p><br>
        <ul>
            {% for his in history %}
            <li>{{ his }}</li>
            {% endfor %}
        </ul>
        <div>
            <img id="logo" src="{{ info.logo.url }}" alt="photo_error">
        </div>

        <div id="sertificate">
            <div>
                <div>
                    <p>XXX Междунароный форум<br>по информационно-коммуникационным технологиями</p>
                    <p>Диплом</p>
                    <p>Награждается</p>
                    <p>РУП "Белфармация"</p>
                    <p>3 место</p>
                    <p>лучший специализированный ресурс</p>
                    <p>pharmamall.by</p>
                    <p>председатель жюри конкурса,</p>
                    <p>председатель Республиканского союза промышленников<br> и предпринимателей,</p>
                    <p>член организационного комитета ТИБО-2024</p>
                    <p>А. И. Швец</p>
                    <p>г. Минск, Беларусь, 8 июня 2024 г.</p>
                </div>
            </div>
        </div>

        <figure>
            <figcaption>Сертификат</figcaption>
            <img src="{{ info.certificate.url }}" 
                sizes="(max-width: 40em) 100vw, 50vw"
                srcset="/media/main_images/ban2.jpg 800w,
                        {{ info.certificate.url }} 1000w">
        </figure>



        <video width="320" height="240" controls itemscope itemtype="https://schema.org/VideoObject" itemprop="video">
            <source src="{{ info.video.url }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <audio itemscope itemtype="https://schema.org/AudioObject" itemprop="audio" controls src="/media/main_audios/audio.mp3"></audio>

        <img id="preloader" src="/media/main_images/pill.webp" alt="image">

    <article>
{% endblock  %}